<?xml version="1.0"?>
<launch>

  <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find ohmni_2dnav)/src/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ohmni_2dnav)/src/config/costmap_common_params.yaml" command="load" ns="local_costmap" />

    <rosparam file="$(find ohmni_2dnav)/src/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ohmni_2dnav)/src/config/global_costmap_params.yaml" command="load" />
    
    <rosparam file="$(find ohmni_2dnav)/src/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find ohmni_2dnav)/src/config/dwa_local_planner_params.yaml" command="load" />

    <remap from="cmd_vel" to="/tb_cmd_vel"/>
    <remap from="odom" to="/tb_control/wheel_odom"/>
    <remap from="scan" to="/scan"/>
    

  </node>

</launch>