<?xml version="1.0"?>
<launch>
  
  <!--Invoke YD lidar-->
  <!--check the min max angle in YD lidar launch file -->
  <include file="$(find ydlidar_ros_driver)/launch/ydlidar.launch"/>

  <!-- send urdf to param server, used by robot_state_publisher and joint_state_publisher-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ohmni_2dnav)/src/urdf/ohmni_bot.urdf.xacro'" />
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <!--param name="use_gui" value="false"/-->
  </node>

  <!-- Send robot states to tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

</launch>
