<?xml version="1.0"?>
<launch>

  <!-- Bring up the ROBOT -->
  <include file="$(find ohmni_2dnav)/src/launch/ohmni_bring_up.launch"/>

  <!-- Map server -->
  <arg name="map_file" default="$(find ohmni_2dnav)/src/maps/lab_map_2.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  
  <!-- start the AMCL package -->
  <include file="$(find ohmni_2dnav)/src/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find ohmni_2dnav)/src/launch/move_base.launch"/>

  <!-- run rviz seperately-->
  <!--node pkg="rviz" name="rviz" type="rviz" args="-d $(find ohmni_2dnav)/src/config/rvizconfig.rviz" /-->

</launch>
